<style>
body {
    font-family: "Comic Sans MS";
}

.center {
    text-align: center;
}
</style>
<h1 class="center"> Discourse </h1>
<p>
Click here to start the discussion
</p>

<p> ok i'll start </p>

<ul>
    <li> hello </li>
</ul>
